<section class="beeminder">
  <section data-heading="Tracking" name="tracking" data-model="trackingVisible">
  </section>
  <section class="left small-6 text-center">
    <h3>gitminder</h3>
    <iframe src="https://www.beeminder.com/widget?slug=gitminder&username=elkorn&countdown=true"
    height="245px" width="230px" frameborder="0px"></iframe>
  </section>
  <section class="left small-6 text-center">
    <h3>todo</h3>
    <iframe src="https://www.beeminder.com/widget?slug=todos&username=elkorn&countdown=true"
    height="245px" width="230px" frameborder="0px">
      </iframe>
  </section>
</section>
