<section class="main row" data-ng-controller="MainCtrl">
    <section class="aside large-2 columns small-12 small-text-centered large-text-uncentered">
        <p data-ng-include="'partials/social'"></p>
    </section>
    <section class="content small-12 large-10 columns">
        <section data-ng-cloak="" class="clearfix" ng-include="'partials/personal-info'"></section>
        <section data-ng-cloak="" class="clearfix" ng-include="'partials/education'"></section>
        <section data-ng-cloak="" class="clearfix" ng-include="'partials/work-experience'"></section>
        <section data-ng-cloak="" class="clearfix" ng-include="'partials/skills'"></section>
        <section data-ng-cloak="" class="clearfix" ng-include="'partials/worked-with'"></section>
    </section>
</section>
<footer>
    <p class="screen">
        <span>
            interactivecv
        </span>
        <span data-ng-cloak="">
            v.{{appInfo.version}}
        </span>
    </p>
    <p class="screen">
        elkorn 2015
    </p>
    <p class="print">
      This page is a printout from <a href="{{appInfo.url}}"></a>.
    </p>
</footer>
