<section data-ng-controller="PersonalCtrl">
  <h1>
    Korneliusz Caputa
  </h1>

  <section data-heading="Personal" name="personal"  data-model="personalVisible">
  </section>

  <section class="show-hide" data-ng-show="personalVisible" style="text-align: justify">
    <section data-unroll>
      <section data-ng-include="'partials/personal-info-content'" data-include-replace onload="startUnrolling()"> </section>
      <a href="" id="unroll" data-ng-if="showContent" data-ng-click="unroll()">
        More? ({{hiddenChildren}} left)
      </a>
    </section>
  </section>
</section>
