<section data-ng-controller="SkillsCtrl" data-ng-init="skillsVisible=true">

    <h2 class="clearfix">
        <div class="left">
            Skills
        </div>
        <div class="right">
            <input type="checkbox" id="skills_cb" ng-model="skillsVisible"/>
        </div>
    </h2>
    <section class="show-hide" data-ng-show="skillsVisible">
        <section ng-repeat="skill in skills | orderBy:'-level'">
            <skill data-skill="skill"></skill>
        </section>
    </section>
</section>