<img class="gravatar" alt="gravatar" data-gravatar-src="'helluinster@gmail.com'" data-gravatar-size="130">
<p class="social">
    <a href="https://github.com/elkorn/" class="fi-social-github size-1" target="blank" title="Github"></a>
    <a href="https://twitter.com/elkornel" class="fi-social-twitter size-1" target="blank" title="Twitter"></a>
    <a href="mailto: helluinster@gmail.com" class="fi-mail size-1" target="blank" title="GMail"></a>
    <a href="https://www.linkedin.com/profile/view?id=156963388" class="fi-social-linkedin size-1" target="blank" title="LinkedIn"></a>
    <a href="https://www.facebook.com/korneliusz.caputa" class="fi-social-facebook size-1" target="blank" title="Facebook"></a>
    <a href="https://plus.google.com/u/0/103230066030040508023/about" class="fi-social-google-plus size-1" target="blank" title="G+"></a>
    <a href="https://www.goodreads.com/user/show/16959046" class="fi-book size-1" target="blank" title="Goodreads"></a>
</p>
